body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,126,0.865983893557423) 35%, rgba(0,212,255,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,150,164,0.42620798319327735) 53%, rgba(0,212,255,0.9220063025210083) 100%);;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: left; 
}

h2 {
    text-align: left;
    color: #333;
}

.form-group {
    margin-bottom: 15px; 
    text-align: left; 
}

.form-group label {
    display: inline-block;
    width: 30%; 
    text-align: left; 
    padding-right: 10px; 

}

.form-group input {
    width: 65%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left; 
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px; 
    text-align: left; 
}

.button-group {
    text-align: left; 
    margin-top: 20px; 
}

.button-group input {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #0066A2;
    color: white;
}

input[type="reset"] {
    background-color: #F44336;
    color: white;
}

input[type="submit"]:hover {
    background-color: #0066A2;
}

input[type="reset"]:hover {
    background-color: #D32F2F;
}